{% load static %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Fontawesome css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<style>
    [data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:2.0em;
    height:2.0em;
    line-height:2.0em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    margin-right: 0.2em;
    color:white;
    }
</style>

