{% extends "base.html" %}


{% block content %}
<div class="container">
    <h2>Parking Page</h2>

        <div class="row">
            <div class="col-12">
                <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                
                {% for parking in parking_list %}
                    <tr>
                        <td>{{ parking.name }}</td>
                        <td>{{ parking.address }}</td>
                    </tr>
                {% endfor %}
                    
                
                </tbody>
            </table>
            </div>
        </div>  
</div>  

{% endblock content %}